* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    letter-spacing: 6px;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 2;
    font-size: 20px;
    font-weight: 500;
}

.header a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.a {
    margin-right: 100px;
}

.a a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.img1 {
    margin: 1px 15px;
}

.main {
    display: flex;
    height: 100%;
    width: 100%;
}

.project {
    margin: 50px 10PX 30PX 10PX;
}

.main1 {
    display: inline;
    position: relative;
    top: 28px;
    background-color: black;
    color: white;
    padding: 7px;
    z-index: 1;
}

.img img {
    width: 100%;
    height: 100%;
}

.img {
    width: 23.65%;
    margin: 10px;
}

#im {
    height: 250px;
}
.img :hover{
    width: 400px;
} 

p button {
    padding: 10px 190px;
    font-size: 20px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: aliceblue;

}

h3 {
    margin: 15px 10px;
    font-size: 25px;
    font-weight: 400;
}

p {
    margin: 25px 10px;
    font-size: 20px;
}

input {
    margin: 15px 20px;
    padding: 15px;
    width: 1800px;
    font-size: large;

}

h1 {
    margin: 50px 15px;
    font-weight: 400;
}

#b {
    padding: 12px 20px;
    margin: 20px;
    background-color: black;
    color: white;
    font-size: large;
}

.footer {
    margin-top: 20px;
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 50px;
}

.footer a {
    color: white;
}

a:hover {
    background-color: rgb(195, 195, 187);
}

.footer a:hover {
    color: green;
    background-color: black;
}

.logo {
    display: inline;
    position: relative;
    bottom: 510px;
    left: 780px;
    font-size: 40px;
    color: white;
    letter-spacing: 5px;
}

#br {
    padding: 8px;
    background-color: rgba(19, 14, 14, 0.756);
    margin-right: 8px;
}
.pro